---
import Headline from '~/components/ui/Headline.astro';
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import CardGrid from "../ui/CardGrid.astro";
import Graph from "./Graph.astro";
import APU from "./APU.astro";

let {
  title = '',
  subtitle = '',
  tagline = '',
  itemSetup = '',
  items = [],
  columns = 2,

  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;

title = "What is Eidolon?"
subtitle = "The industry's first AI Agent Server for the Enterprise"
items = [
  {
    title: 'Agent Server',
    slot: 'agent-server',
    description: 'Deploy agents directly to your kubernetes cluster. Enterprise ready with auth and RBAC built in.\n'
  },
  {
    title: 'Eidolon SDK',
    slot: 'sdk',
    description: 'A pluggable AI Agent framework (SDK) for developers to build Agentic applications quickly and easily.',
  }
]
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`${classes?.container ?? ''}`} bg={bg}>
  <Headline tagline={tagline} classes={{
    container: 'max-w-5xl mb-4 md:mb-4',
  }}>
    <Fragment slot="title">
      <div class="flex flex-col md:flex-row justify-center items-center gap-2">
        <span class="font-bold leading-tighter tracking-tighter font-heading text-heading text-3xl">{title}</span>
        <span class="font-normal leading-normal tracking-normal text-lg md:text-xl">{subtitle}</span>
      </div>
    </Fragment>
  </Headline>
  {itemSetup &&
    <div class="mx-auto max-w-5xl mb-4 text-xl text-muted" set:html={itemSetup}/>}
  <CardGrid
    items={items}
    columns={columns}
    classes={{
      container: `gap-x-8 md:gap-x-12 lg:gap-x-16 xl:gap-x-20`,
      panel: 'max-w-none',
      icon: 'flex-shrink-0 mt-1 w-6 h-6 text-primary',
      description: 'text-md',
    }}
  >
    <Fragment slot="agent-server">
      <div class="w-full h-full mb-8">
        <Graph/>
      </div>
    </Fragment>
    <Fragment slot="sdk">
      <APU/>
    </Fragment>
  </CardGrid>
</WidgetWrapper>
